.button {

    color:#000000;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    width: max-content;
    height: 35px;
    align-items: center;

    background-color: white; 
    border: 2px  solid #e98c01;
  }

  .button:hover{
    background-color: #e98c01;
    color:white;
  }