
.container{
 
    width: 100%;
    display: flex;
    padding: 1rem 10.5rem;
    flex-direction: column;
    align-items: center;
    
  }
  
.section img{
  align-items: center;

}


.menu{
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;

}
.orangeLine{

  margin-top: 0px;
  margin-bottom: 15px;
  
  width: 980px;
  height: 1px;
  
  background: #F9BF51;

}

.section{
  display: flex;
  flex-direction: row;
  justify-content: center;

  
  width: 980px;
  height: 268px;

  background: #F9BF51;
  border-radius: 0px;

}

.receiverSquare{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.receiverSquare img{

  margin-top: 31px ;
  margin-bottom: 19px;

  width: 40px;
  height: 40px;

}

.receiverSquare h1{ 
  
  width: 236px;
  height: 32px;

  margin-bottom: 39px;

  font-family: Fredericka the Great;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 31px;
  
  text-align: center;
  
  color: #000000;
  
}

.receiverSquare p{
  width: 241px;
  height: 29px;

  text-align: center;

  margin-bottom: 92px;


}

.receiverSquare a{
  color: red;
}

.whiteLine1{
  align-self: center;

  width: 1px;
  height: 195px;
  background: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  
}

.schoolSquare{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.schoolSquare img{

  margin-top: 31px ;
  margin-bottom: 19px;

  width: 40px;
  height: 40px;

}

.schoolSquare h1{ 
  
  width: 236px;
  height: 32px;

  margin-bottom: 39px;

  font-family: Fredericka the Great;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 31px;
  
  text-align: center;
  
  color: #000000;
  
}

.schoolSquare p{
  width: 241px;
  height: 29px;

  text-align: center;

  margin-bottom: 92px;
}

.schoolSquare a{
  color: red;
}

.whiteLine2{
  align-self: center;

  width: 1px;
  height: 195px;
  background: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  
}


.giverSquare{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}



.giverSquare img{

  margin-top: 31px ;
  margin-bottom: 19px;

  width: 40px;
  height: 40px;

}

.giverSquare h1{ 
  
  width: 236px;
  height: 32px;

  margin-bottom: 39px;

  font-family: Fredericka the Great;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 31px;
  
  text-align: center;
  
  color: #000000;
  
}

.giverSquare p{
  width: 270
  px;
  height: 29px;

  text-align: center;

  margin-bottom: 92px;


}

.giverSquare a{
  color: red;
  
}


@media screen and (max-width: 700px){

  .container{
    max-width: 100%;
    overflow: hidden;
    height: max-content;
    min-width: 360px;
    padding: 5px;
  
  }

  .section{
    flex-direction: column;
    height: fit-content;
   
    
  }

  .whiteLine1 {
    width: 100vh;
    height: 2px;
  }
  
  .whiteLine2{
    width: 100vh;
    height: 2px;
  }

  .receiverSquare{
    margin: 0;

  }

  .schoolSquare{
    margin: 0;
  }

  .giverSquare{
    margin: 0;
  }


}


@media screen and (min-width: 700px) and (max-width: 900px){
  .container{
     max-width: 100%;
     overflow: hidden;
     height: max-content;
     min-width: 700px;
     padding: 5px;
  }


  .section{
    width: 100%;
  }

  .receiverSquare{
    margin: 0;

  }

  .schoolSquare{
    margin: 0;
  }

  .giverSquare{
    margin: 0;
  }

  .whiteLine1 {
    display: none;
    margin: 0;
  }
  
  .whiteLine2{
    display: none;
    margin: 0;
  }

}

