.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selects{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    

   
}

.schoolName{
    
    display: flex;
    flex-direction: column;

}

.schoolName h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #000000;

}