.container{
    display: flex;
    flex-direction: row;
  
    

    width: 980px;
    height: 113px;

    background: #265680;

    margin-top: 50px;
    margin-bottom: 88px;

    
}

.text{
    display: flex;
    flex-direction: row;
    
}
.contact{
    margin: auto;
    flex-direction: column;
    justify-content: center;
    margin-left:95px ;
    margin-right: 60px;
    line-height: 0.5;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
   

}

.location{
    margin-top: 18px;
    flex-direction: column;
    justify-content: center;    
    width: 300px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;       
    line-height: 0.4;
    color: #FFFFFF;
    margin-right: 5px;
}


.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 174px;  
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 51px;
}


.icons{
    display: flex;
    align-items: center;
}

.facebook {
    width: 40px ;
    height: 40px;
}

.instagram {
    width: 40px ;
    height: 40px;
}

.youtube {
    width: 40px ;
    height: 40px;
}

.twitter{
    width: 40px ;
    height: 40px;
}