.container{
    display: flex;
    flex-direction: row;
    width: 980px;
    height: 113px;
    background: #265680;
    margin-bottom: 8px;
}

.text{
    display: flex;
    flex-direction: row;
}

.contact{
    margin-top: 25px;
    margin-left:30px ;
    margin-right: 60px;
    line-height: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;

    
}


.location{
    margin-top: 25px;
    width: 300px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;       
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 10px;
}


.register{
    margin-top: 25px;
    width: 200px;  
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 30px;
}


.icons{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.facebook {
    width: 40px ;
    height: 40px;
}

.instagram {
    width: 40px ;
    height: 40px;
}

.youtube {
    width: 40px ;
    height: 40px;
}

.twitter{
    width: 40px ;
    height: 40px;
}

@media screen and (max-width: 700px){
    .container{
        display: flex;
        flex-direction: column;
        height: max-content;
        align-items: right;
        
    
    }

    .text{
       margin: 0;
       line-height: 15px;

    }
    
    .contact{
        margin: 0;
        margin-top: 10px;
        
    }
    
    .location{
        line-height: 15px;
        margin-bottom: 20px;
    }

    .register{
        margin-bottom: 20px;
    }

    .icons{
        justify-content: space-around;
    }


}